body{

  background:linear-gradient(-90deg, #363553, #903775, #E8458B);
  background-repeat: no-repeat;
  height: 100vh;
 
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 
}
  


.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
    border-radius: 80px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   place-items: center;
height: 460px;
margin-top: 150px;
margin-bottom: 150px;

}
h1,h2{
    color: white;
    text-align: center;
    
}
button{
  
    background-color: rgb(95, 39, 93) ;
    color: white;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 10px;
    border: none;
    justify-content: center;
    padding: 8px ;
     box-shadow: 5px 5px 5px  #752c5f;
     transition: 0.3s;
}
button:hover{
    transform: scale(1.3);
    transition: 0.5s;
 
}
p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: x-large;
  color: white;
}
.contenedor {
   display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
}
.contenedor-de-imagenes {
   display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.img, .img1{
   width: 300px;
  height: 300px;
  border-radius: 50%; 
  object-fit: contain;
  background-color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.img:hover,.img1:hover{
    transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.tarjeta{
  background-color: #903775;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
}
.tarjeta:hover{
  background-color: #e0e0e0;
}
.respuesta{
  display: none;
  margin-top: 10px;
  color: #333;
}
.respuesta.mostrar{
  display: block;
}